[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sdenysov
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sdenysov
	label-Verified = -1..+1 group user/sdenysov
	push = group user/sdenysov
	read = group user/sdenysov
	rebase = group user/sdenysov
	removeReviewer = group user/sdenysov
	submit = group user/sdenysov
[access "refs/heads/*"]
	create = group user/sdenysov
	push = +force group user/sdenysov
	pushMerge = group user/sdenysov
	read = group user/sdenysov
[access "refs/tags/*"]
	push = group user/sdenysov
	push = +force group user/sdenysov
