body {
    font-family: 'Mina', sans-serif;
}

.clearfix {
    display: block;
    content: '';
    clear: both;
}

.navbar {
    margin-bottom: 20px;
}

.score-container .player-score {
    border: 1px solid black;
    border-radius: 5px;
}

.player-name {
    border-bottom: 1px solid black;
    padding: 5px;
    font-size: 25px;
    text-align: center;
}

.score-container .score-label {
    border-bottom: 1px solid black;
    background-color: gainsboro;
    border-top-left-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 25px;
    text-align: center;
}

.score-container .score {
    font-size: 60px;
    text-align: center;
}

#game-field {
    margin: 0 auto;
    border-collapse: collapse;
}

#game-field td {
    border: 1px solid black;
    width: 23px;
    height: 23px;
    text-align: center;
    font-size: 13px;
    font-family: 'Mina', sans-serif;
}

#reset-btn {
    float: right;
    margin-top: 10px;
    width: 40%;
    height: 40px;
}

#login-form {
    padding-top: 20px;
}